In [9]:
x=0
y=5
if x<y:
    print('yes')

yes

In [16]:
if 100 in ([1,2,3],100,200,300,[500,600,700]):
    print("available")

available

In [18]:
number4= ([1,2,3],100,200,300,[500,600,700])
if 1000 in number4:
    print("not available")

In [23]:
idx=0
while idx < len(number4):
    if idx == 4:
        break
    print(idx, "number:", number4[idx])
    idx = idx +1

0 number: [1, 2, 3]
1 number: 100
2 number: 200
3 number: 300

In [27]:
number1 = ['one', 'two', "three", 4, 5, 6.0]
number2 = ['one', 'two', "three", 4.0, 5.0, 7]

for number2 in number1:
    print(number2)

one
two
three
4
5
6.0

In [28]:
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [29]:
print(list(range(0,100,10
                )))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]